#root {
  text-align: center;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
}

.padding {
  padding-top: 1em;
  padding-left: 3em;
  padding-right: 3em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding: 1em;
}

h2 {
  line-height: 1.1;
  padding: 1em;
}

h5 {
  padding-bottom: 2em;
}

th {
  width: 200px;
}

.form-control-success:disabled {
  background-color: #d4edda;
  color: #155724;
  border-color: #28a745;
}

.form-control-warning:disabled {
  background-color: #fff3cd;
  color: #856404;
  border-color: #ffc107;
}

.form-control-danger:disabled {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #dc3545;
}